* {
	margin: 0;
	padding: 0;
}

.space-1 {
	height: 5vh;
}

/*font-family: 'Bungee Shade', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;*/

.bungee {
	font-family: 'Bungee Shade', cursive;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.lora {
	font-family: 'Lora', serif;
}

/*HEADER NAV========================================*/

.footer {
	color: #f1ede3;
	position: absolute;
	margin: 5px 5px 5px 5px;
	bottom: 1%;
	font-size: 11.5px;
	font-weight: 0;
	font-family: 'Roboto', sans-serif;
}

#menu {
	overflow: hidden;
	position: fixed;
	z-index: 10000000;
	opacity: 0.9;
	left: -150px;
	width: 200px;
	height: 1000px;
	background: rgba(0, 0, 0, .7);
	box-shadow: 0 0 10px rgba(0,0,0,0.6);

	transition: all 0.5s cubic-bezier(.50,.32,.01,1);
	-webkit-transition: all 0.5s cubic-bezier(.50,.32,.01,1);
}
#menu-header, #menu-footer {
	width: 100%;
	height: 45px;
  	padding-left: 50px;
	font-size: 30px;
	color: #f1ede3;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Bungee Shade', cursive;*/
	/*font-family: 'Lora', serif;*/
	background: rgba(0, 0, 0, .7); /*#29313f;*/
}
#menu-footer {
	text-align: left;
	position: absolute;
	padding-left: 15px;
	bottom: -50px;

	transition: all 0.6s cubic-bezier(.50,.32,.01,1);
	-webkit-transition: all 0.2s cubic-bezier(.50,.32,.01,1);
}
.onscreen {
	left: 0 !important;
}
#links {
	padding: 0;
	list-style-type: none;
	width: 100%;
	font-size: 30px;
	letter-spacing: 1px;
	color: #f1ede3;
}

#links a {
	text-decoration: none;
	color: inherit;
	font-family: 'Roboto', sans-serif;
}

.link {
	text-align: left;
	padding-top: 5px;
	padding-left: 30px;
	width: 100%;
	height: 60px;
	background: transparent;

	transition: all 0.15s ease-out;
	-webkit-transition: all 0.15s ease-out;

	position: relative;
}

.link > span {
	position: absolute;
	left: 40%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.link i {
	color: #f1ede3;
	right: 10px;
	position: absolute;
	margin-top: 5px;
	height: 30px;

	position: absolute;
	left: 85.5%;
	top: 42%;
	transform: translate(-50%, -50%);
}

.link:hover {
	cursor: pointer;
	background: #000000;
}
.active {
	background: #5dadeb!important;
}
.showmenu {
	position: absolute;
	width: 40px;
	height: 30px;
	top: 5px;
	right: 5px;
	font-size: 25px;

	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.closemenu div:nth-child(1) {
	transform: rotate(225deg)!important;
	top: 15px!important;
	background: #f1ede0!important;
}
.closemenu div:nth-child(2) {
	transform: rotate(-45deg) !important;
	top: 15px !important;
	background: #f1ede3!important;
}
.showmenu div:nth-child(n) {
	position: absolute;
	width: 20px;
	height: 2px;
	margin: 3px 0 0 10px;
	background: #f1ede3;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.showmenu div:nth-child(1) {
	top: 13px;
}
.showmenu div:nth-child(2) {
	top: 19px;
}
.showmenu:hover {
	transform: scale(1.1, 1.1);
	cursor: pointer;
}


#my-name strong {
	font-weight: 700;
}



/*MEDIA QUERIES====================================*/

/*desktop view*/

@media only screen and (min-width: 960px) and (max-width: 4000px) {

	.link {
		font-size: 24px;
	}

	#my-nav {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 20%;
		left: 50%;
	}

	#my-name {
		/*font-family: 'Noto Serif SC', serif;*/
		font-family: 'Source Serif Pro', serif;
		/*letter-spacing: 1px;*/
		font-weight: lighter;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 14%;
		left:50%; 
	}

	.custom-link {
	border-right: 2px solid lightgrey;
	padding-top: 0;
	padding-bottom: 0; 
	}

	.custom-link:last-child {
	border-right: 0px solid lightgrey; 
	}


}

/*tablet view*/

@media only screen and (min-width: 450px) and (max-width: 960px) {

	#menu-header {
		padding-left: 50px;
		font-size: 28px;
	}

	.link > span {
		position: absolute;
		left: 45%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 22px;
	}

	.link i {
		position: absolute;
		left: 85%;
		top: 45%;
		transform: translate(-50%, -50%);
		font-size: 22px;
	}

	#my-name {
	font-weight: 400;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 15%;
	left: 50%;
	}

	#my-nav {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 20%;
	left: 50%;
	}

	.custom-link {
	border-right: 2px solid lightgrey;
	padding-top: 0;
	padding-bottom: 0; 
	}

	.custom-link:last-child {
	border-right: 0px solid lightgrey; 
	}	

}

/*pixel 2*/

@media only screen and (min-width: 401px) and (max-width: 449px) {

	#menu-header {
		padding-left: 50px;
		font-size: 28px;
	}

	.link > span {
		position: absolute;
		left: 45%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 22px;
	}

	.link i {
		position: absolute;
		left: 85%;
		top: 45%;
		transform: translate(-50%, -50%);
		font-size: 22px;
	}

	#my-name {
	font-weight: 400;
	font-size: 28px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 12%;
	left: 53%;
	}

	#my-nav {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 12px;
	top: 18%;
	left: 53%;
	}

	.custom-link {
	font-size: 12px;
	border-right: 1px solid lightgrey;
	padding-top: 0;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 0;
	}

	.custom-link:first-child {
	padding-left: 0px; 
	}

	.custom-link:last-child {
	border-right: 0px solid lightgrey; 
	padding-right: 0px; 
	}

/*	.custom-link {
	border-right: 1px solid lightgrey;
	padding-top: 0;
	padding-bottom: 0;
	}

	.custom-link:last-child {
	border-right: 0px solid lightgrey; 
	}*/

}

/*mobile view*/

@media only screen and (max-width: 400px) {

	#menu-header {
		padding-left: 50px;
		font-size: 28px;
	}

	.link {
		font-size: 20px;
	}

	.link > span {
		position: absolute;
		transform: translate(-50%, -50%);
		left: 47%;
		top: 50%;
		font-size: 19px;
	}

	.link i {
		position: absolute;
		transform: translate(-50%, -50%);
		left: 86%;
		top: 47%;
	}

	#my-name {
	font-weight: 400;
	font-size: 22px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 10%;
	left: 55%;
	}

	#my-nav {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 16%;
	left: 55%;
	}

	.custom-link {
	font-size: 12px;
	border-right: 1px solid lightgrey;
	padding-top: 0;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 0;
	}

	.custom-link:first-child {
	padding-left: 0px; 
	}

	.custom-link:last-child {
	border-right: 0px solid lightgrey; 
	padding-right: 0px; 
	}
}